{% extends 'base.html' %}

{% block body %}

    <h2>{{ display_melon.common_name }}</h2>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="{{ display_melon.imgurl }}" class="img-responsive">
        </div>

        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3">
            <div class="well">
                <h3>Price per melon</h3>
                <p> {{ display_melon.price_str() }} </p>
                <form action="/add_to_cart/{{ display_melon.id }}">
                    <input type='submit' id="submit-button" value="Add to Cart">
                </form>
            </div>
        </div>
    </div>

    <div class="melon-details">

        <h3>Product details</h3>

        <ul>
            <li>Melon type: {{ display_melon.melon_type }}</li>
            <li>Flesh color: {{ display_melon.flesh_color }}</li>
            <li>Rind color: {{ display_melon.rind_color }}</li>
            {% if display_melon.seedless %}
              <li>Seedless melon</li>
            {% else %}
              <li class='warning'>Warning! This melon has seeds</li>
            {% endif %}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script>
    // We're in the middle of writing the AJAX .get. We've done .get, and the url, then we have to pass the data to send to the server, and write the function for what we want to do with it when we get it back.
        function add_melon(evt){
            evt.preventDefault();
            $.get("/add_to_cart/{{display_melon.id}}",)
        }
        $('#submit-button').on('submit', add_melon);
    </script>

{% endblock %}
